body {
  background-color: grey; }

.container {
  position: relative;
  width: 800px;
  height: 600px;
  margin: auto;
  margin-top: 8%;
  background: #afeeee; }

.head {
  position: absolute;
  width: 60%;
  height: 75%;
  top: 15%;
  left: 20%;
  border: 6px solid #000;
  border-radius: 50%;
  background: #7a5430; }

.head_copy {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #7a5430;
  z-index: 2; }

.ear_left {
  position: absolute;
  width: 30%;
  height: 30%;
  top: 1%;
  left: -8%;
  border: 6px solid #000;
  border-radius: 50%;
  background: #7a5430;
  z-index: 1; }

.ear_right {
  position: absolute;
  width: 30%;
  height: 30%;
  top: 1%;
  right: -8%;
  border: 6px solid #000;
  border-radius: 50%;
  background: #7a5430;
  z-index: 1; }

.ear_inner {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 14%;
  right: 10%;
  border-radius: 50%;
  background: #1d0000;
  z-index: 1; }

.eye_left {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 23%;
  left: 10%;
  border-radius: 50%;
  background: #fff;
  z-index: 2; }

.eye_right {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 23%;
  right: 10%;
  border-radius: 50%;
  background: #fff;
  z-index: 2; }

.eye_pupil {
  position: absolute;
  width: 15%;
  height: 25%;
  top: 27%;
  left: 36%;
  border-radius: 50%;
  background: #000;
  z-index: 2; }

.nose {
  position: absolute;
  width: 20%;
  height: 20%;
  bottom: 16%;
  left: 40%;
  background: #000;
  border-radius: 60%;
  -webkit-clip-path: circle(55% at 50% 25%);
  clip-path: circle(55% at 50% 25%);
  z-index: 2; }

.chin {
  position: absolute;
  width: 26%;
  height: 22%;
  bottom: -2%;
  right: 43%;
  background: #7a5430;
  border-radius: 50%;
  z-index: 2; }

.chin_copy {
  position: absolute;
  width: 26%;
  height: 22%;
  bottom: -3%;
  right: 42%;
  background: #7a5430;
  border: 6px solid #000;
  border-radius: 50%;
  z-index: 1; }

.mouth {
  position: absolute;
  width: 80%;
  height: 80%;
  bottom: 4%;
  left: 8%;
  background: #000;
  border-radius: 50%;
  z-index: 2; }
